.track {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.details {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  border: none;
  background: none;
}
