.track {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-bottom: 0.25em;
  margin-top: 0.25em;
  border-bottom: 1px solid #30365b;;
}

.details {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.details h3 {
  color: white;
}

.details p {
  font-size: 0.9em;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  border: none;
  background: none;
  font-size: 1.25em;
}
