.results {
  display: flex;
  flex-direction: column;
  flex: 3 1 0;
  gap: 0.5em;
  min-width: 0;
}

.results h2 {
  font-size: 1.25em;
  height: 1.5em;
  color: white;
  text-transform: uppercase;
}
