.playlist {
  display: flex;
  flex-direction: column;
  flex: 2 1 0;
  gap: 0.5em;
  min-width: 0;
}

.input {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.25em;
  font-weight: bold;
  height: 1.5em;
}

input::placeholder {
  color: #3c426c;
}

.input:focus {
  outline: none;  
  box-shadow: none;
}
