.playlist {
  display: flex;
  flex-direction: column;
  flex: 2 1 0;
  gap: 0.5em;
  min-width: 0;
}

.input {
  border: none;
  font-size: 1.35em;
  font-weight: bold;
  height: 1.5em
}

.input:focus {
  outline: none;  
  box-shadow: none;
}
